In [93]:
import pandas as pd
import numpy as np
import pickle
import csv
from sklearn.preprocessing import StandardScaler , LabelEncoder
from sklearn.model_selection import train_test_split
np.random.seed(42)

In [94]:
df = pd.read_csv('../data/BlackFriday.csv')

In [95]:
df.drop(['Product_Category_2',"Product_Category_3",],axis=1,inplace=True)

In [96]:
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,7969

In [97]:
df['Gender'] = np.where(df['Gender']=='M',1,0)

In [98]:
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Purchase
0,1000001,P00069042,0,0-17,10,A,2,0,3,8370
1,1000001,P00248942,0,0-17,10,A,2,0,1,15200
2,1000001,P00087842,0,0-17,10,A,2,0,12,1422
3,1000001,P00085442,0,0-17,10,A,2,0,12,1057
4,1000002,P00285442,1,55+,16,C,4+,0,8,7969

In [99]:
def print_unique(frame,column_list):
    for col in column_list:
        print(col, ':',len(frame[col].unique()))

In [100]:
print_unique(df,list(df.columns))

User_ID : 5891
Product_ID : 3623
Gender : 2
Age : 7
Occupation : 21
City_Category : 3
Stay_In_Current_City_Years : 5
Marital_Status : 2
Product_Category_1 : 18
Purchase : 17959

In [101]:
df = pd.get_dummies(df,
               sparse=True,
               drop_first=True,
               columns=['City_Category'
                        ,'Age'
                        ,'Occupation'
                        ,'Stay_In_Current_City_Years'
                        ,'Product_Category_1'])

In [72]:
df.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Marital_Status', 'Purchase',
       'City_Category_B', 'City_Category_C', 'Age_18-25', 'Age_26-35',
       'Age_36-45', 'Age_46-50', 'Age_51-55', 'Age_55+', 'Occupation_1',
       'Occupation_2', 'Occupation_3', 'Occupation_4', 'Occupation_5',
       'Occupation_6', 'Occupation_7', 'Occupation_8', 'Occupation_9',
       'Occupation_10', 'Occupation_11', 'Occupation_12', 'Occupation_13',
       'Occupation_14', 'Occupation_15', 'Occupation_16', 'Occupation_17',
       'Occupation_18', 'Occupation_19', 'Occupation_20',
       'Stay_In_Current_City_Years_1', 'Stay_In_Current_City_Years_2',
       'Stay_In_Current_City_Years_3', 'Stay_In_Current_City_Years_4+',
       'Product_Category_1_2', 'Product_Category_1_3', 'Product_Category_1_4',
       'Product_Category_1_5', 'Product_Category_1_6', 'Product_Category_1_7',
       'Product_Category_1_8', 'Product_Category_1_9', 'Product_Category_1_10',
       'Product_Category_1_11', 'Product_Category_1_12',
       'Product_Category_1_13', 'Product_Category_1_14',
       'Product_Category_1_15', 'Product_Category_1_16',
       'Product_Category_1_17', 'Product_Category_1_18'],
      dtype='object')

In [73]:
def codify_it(frame,var_list,le= LabelEncoder()):
    for column in var_list:
        frame[column] = le.fit_transform(frame[column])
        print(column, "sucessfully encoded")

In [74]:
codify_it(df,['User_ID','Product_ID'])

User_ID sucessfully encoded
Product_ID sucessfully encoded

In [75]:
df.head()

,User_ID,Product_ID,Gender,Marital_Status,Purchase,City_Category_B,City_Category_C,Age_18-25,Age_26-35,Age_36-45,...,Product_Category_1_9,Product_Category_1_10,Product_Category_1_11,Product_Category_1_12,Product_Category_1_13,Product_Category_1_14,Product_Category_1_15,Product_Category_1_16,Product_Category_1_17,Product_Category_1_18
0,0,670,0,0,8370,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,2374,0,0,15200,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,850,0,0,1422,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,0,826,0,0,1057,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,1,2732,1,0,7969,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [76]:
df = df.sample(frac=.02,random_state=42)
X = df.drop(['Purchase'],axis=1)
y = df['Purchase']
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=42,train_size=.3)

In [77]:
def the_pickler(pickle_this,filepath):
    try:
        with open(filepath, 'wb+') as f:
            pickle.dump(pickle_this,f)
            print('Done!')
    except:
        print("Ehh, something didn't work. Check the args.")

In [78]:
the_pickler(X_train,'../assets/X_train.pkl')

Done!

In [79]:
the_pickler(X_test,'../assets/X_test.pkl')

Done!

In [80]:
the_pickler(y_train,'../assets/y_train.pkl')

Done!

In [81]:
the_pickler(y_test,'../assets/y_test.pkl')

Done!